{% for comment in comments %}
  <li>


      <a href="{% url 'user-posts' object.author.username %}"> {{ comment.author|capfirst }} </a>
      <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>

      {% if comment.author == user %}

      <small class="font-weight-light"><a href="{% url 'comment-update' comment.id %}"> edit </a></small>

      {% endif %}

      <br />

      {{ comment.content }}
      
      <br />

      <small class="font-weight-light"><a href="{% url 'comment-reply-create' comment.id %}"> reply </a></small>


      {% if comment.replies.all %}


        <ul>
          {% include "blog/tree.html" with comments=comment.replies.all %}
        </ul>
      {% endif %}
  </li>


{% endfor %}
